.lab-results-container {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.download-icon {
  width: 20px;
  height: 20px;
  background: transparent url('../assets/png/download.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}.lab-results-container {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.lab-results-title {
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  margin-bottom: 16px;
}

.lab-results-list-container {
  max-height: 175px; /* Adjust this height as needed */
  overflow-y: auto;
}

.lab-results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lab-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 20px;
}

.test-name {
  font: normal 14px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin: 4px !important;
}

.download-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0px !important;
}

.download-icon {
  width: 20px;
  height: 20px;
  opacity: 1;
}