
.dl_container {
  border-radius: 16px;
  background: #ffffff;
  height: 253px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title_bp_1 {
  font: normal normal 800 20px / 29px Manrope;
  letter-spacing: 0px;
  color: #072635;
  margin-bottom: 2px;
}
.dl_table-container {

  height: calc(250px - 64px);
  overflow: hidden;
  background: #ffffff;

}

table {
  width: 100%;
  display: block;
  border-collapse: collapse;
}

thead {
  display: block;
  background: #f6f7f8;
  border-radius: 24px;
}

thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th {
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  padding: 12px;
  text-align: left;
  width: 33.33%;
}


tbody {
  display: block;
  overflow-y: auto;
  height: calc(349px - 120px);
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}
thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 25%; /* Left column */
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 50%; /* Center column */
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 25%; /* Right column */
}

tbody tr:hover {
  background-color: #f9f9f9;
}